RARE_PPI_HOST=0.0.0.0
RARE_PPI_PORT=9000
RARE_PPI_DATA_DIR=../../data
RARE_PPI_CACHE_DIR=../../data/cache
RARE_PPI_OUTPUT_DIR=output
RARE_PPI_UPLOAD_DIR=uploads
RARE_PPI_RESPONSE_PATH_BASE=.
RARE_PPI_API_WORKERS=1
RARE_PPI_LOAD_CLINVAR=0
